.app__container {}
/*.app__container > div {*/
/*margin: 10px 0;*/
/*padding: 0 10px;*/
/*}*/
.app__header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  /*font-size: 20px;*/

  /*margin: 10px 0;*/
  padding: 0 10px;
}
.app__header-title > h1 {
  font-size: 24px;
  font-weight: 700;
}
.app__movies-container {
  display: flex;
  flex-flow: row wrap;
}
.app__movies-list-container {
  flex:1 0 30%;
  min-width: 250px;
  /*margin: 10px 0;*/
  /*padding: 0 10px;*/
}
.app__movie-details-container {
  flex:1 0 70%;
  /*margin: 10px 0;*/
  /*padding: 0 10px;*/
}
