<div class="app__container">
  <div class="app__header">
    <div class="app__header-title">
      <h1>{{title}}</h1>
    </div>
    <div class="app__header-search form-inline">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="form-control"
               placeholder="Search..."
               [(ngModel)]="searchTerm">
      </div>
    </div>
  </div>

  <div class="app__movies-container">
    <!-- app-movies-list component-->
    <div class="app__movies-list-container">
      <app-movies-list
        [searchTerm]="searchTerm"
      ></app-movies-list>
    </div>

    <!-- app-movie-details component-->
    <div class="app__movie-details-container">
      <app-movie-details
      ></app-movie-details>
    </div>
  </div>
</div>

