<div class="movies-list__container">
  <div class="movies-list__header">
    <h3>Movies titles</h3>
    <div class="movies-list__sub-header">
      <sub>Movies fetched: {{moviesFetched}}</sub>
      <sub>
        Sort by:
        <select #selectElem (change)="setSortingCode(selectElem.value)"
                class="movies-list__select">
          <option *ngFor="let key of objectKeys(sortingProps)" [value]="sortingProps[key]['code']">
            {{sortingProps[key]['name']}}
          </option>
        </select>
      </sub>
    </div>
  </div>
  <div class="movies-list__scroll"
       infiniteScroll
       [infiniteScrollContainer]="cssClassSelector"
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="500"
       [fromRoot]="true"
       (scrolled)="initData()"
  >

    <div class="movies-list__item"
         [ngClass]="{'is-selected': selectedMovie === movie}"
         *ngFor="let movie of movies | search:'title':searchTerm"
         (click)="onClickMovie(movie)"
    >
      {{movie.title}}

    </div>
  </div>
</div>
