.movies-list__container {
  margin: 10px 0;
  padding: 0 10px;
}
.movies-list__header {
  padding: 10px;
  background-color: #2196F3;
  color: #ffffff;
}
.movies-list__sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movies-list__select {
  color: #000;
}

.movies-list__scroll {
  max-height: 70vh;
  overflow: scroll;
  box-shadow: inset 0 5px 5px 0 rgba(153, 153, 153, 0.4),
              inset 0 -3px 5px 0 rgba(153, 153, 153, 0.4);
}
.movies-list__item {
  padding: 10px;
  border: 1px #000;
  border-style: none none solid;

  &:last-child {
    border: none;
  }

  &.is-selected {
    background-color: #BBDEFB;
    color: #ffffff;
  }
}
.movies-list__item:hover {
  cursor: pointer;
  background-color: #64B5F6;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

  &::after {
    content: '\f105';
    font-family: FontAwesome;
    text-align: right;
    font-size: 18px;
    line-height: 1;
  }
}
