<div class="movie-details__container">
  <!-- Default content -->
  <div *ngIf="!selectedMovie"
       class="movie-details__content movie-details__content--unselected">
    <h2>
      Please select a movie from the list!
    </h2>
  </div>
  <!-- Movie content -->
  <div *ngIf="selectedMovie"
       class="movie-details__content movie-details__content--selected">

      <div class="movie-details__content-image">
        <img [src]="selectedMovie.poster_path" />
      </div>

      <div class="movie-details__content-details">
        <div class="movie-details__content-header">
          <div class="movie-details__content-title">
            {{selectedMovie.title}}
          </div>
          <div class="movie-details__content-date">
            ({{selectedMovie.release_date | date: 'MMM y'}})
          </div>
        </div>
        <div class="movie-details__content-subheader">
          <div class="movie-details__content-subtitle">
            Original title: {{selectedMovie.original_title}}
          </div>
        </div>

        <div class="movie-details__content-overview">
          {{selectedMovie.overview}}
        </div>

        <div class="movie-details__content-footer">
          <div *ngIf="movieGenres"
               class="movie-details__content-genres">
            <div *ngFor="let genreId of selectedMovie.genre_ids"
                 class="movie-details__content-genre-item"
            >
              {{filterCategories(movieGenres, genreId)}}
            </div>
          </div>

          <div class="movie-details__content-voting__container">
            <div class="movie-details__content-vote-count">
              Votes: {{selectedMovie.vote_count}}
            </div>
            <div class="movie-details__content-rating-stars mytooltip">
              <span class="fa"
                    *ngFor="let star of stars"
                    [ngClass]="{'fa-star-o': star > Math.round(selectedMovie.vote_average),
                                'fa-star-half-o': star == Math.round(selectedMovie.vote_average),
                                'fa-star': star < Math.round(selectedMovie.vote_average)}"
              >
              </span>
              <span class="mytooltiptext">{{selectedMovie.vote_average}} / 10</span>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
