.movie-details__container {
  margin: 10px 0;
  //padding: 0 10px;
  max-height: 50vh;
}
.movie-details__content {
  display: flex;
  margin: 10px;

  &.movie-details__content--selected {
    //padding: 10px;
    //border-radius: 3px;
    box-shadow: 0 0 7px 0 rgba(153, 153, 153, 0.8);
  }
}
.movie-details__content-image {
  flex: 1 0;
  //max-width: 300px;

  img {
    max-width: 100%;
    display:block;
    height: auto;
  }
}
.movie-details__content-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3 0;
  margin: 10px 0;
  padding: 0 10px;
}
.movie-details__content-header {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  //justify-content: space-between;
}
.movie-details__content-title {
  font-size: 1.5em;
  font-weight: bold;
  //flex: 1 0 auto;
}
.movie-details__content-date {
  padding-left: 5px;
}
.movie-details__content-subheader {
  margin-bottom: 20px;
}
.movie-details__content-overview {
  flex: 1 0 auto;
  text-align: justify;
  margin-bottom: 10px;
}

.movie-details__content-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.movie-details__content-genres {
  display: flex;
}
.movie-details__content-genre-item {
  margin: 5px;
  padding: 4px 10px;
  min-width: 40px;
  display: flex;
  justify-content: center;

  border: 1px #d7d7d7;
  border-style: solid;
  border-radius: 5px;

  &:first-child {
    margin-left: 0;
  }
}
.movie-details__content-voting__container {
  display: flex;
}
.movie-details__content-vote-count {

}
.movie-details__content-rating-stars {
  padding-left: 5px;
  color: orange;
}

/* custom tooltip */
.mytooltip {
  position: relative;
  display: inline-block;
}

.mytooltip .mytooltiptext {
  visibility: hidden;
  //width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -15px;
  opacity: 0;
  transition: opacity 1s;
}

.mytooltip .mytooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.mytooltip:hover .mytooltiptext {
  visibility: visible;
  opacity: 1;
}
